@import "tailwindcss";
@import "tw-animate-css";
@import "./tailwind-colors.css";

:root, [data-theme='light'] {
  --colors-accent: var(--tailwind-colors-zinc-100);
  --colors-accent-foreground: var(--tailwind-colors-zinc-900);
  --colors-background: var(--tailwind-colors-base-white);
  --colors-border: var(--tailwind-colors-zinc-200);
  --colors-card: var(--tailwind-colors-base-white);
  --colors-card-foreground: var(--tailwind-colors-zinc-950);
  --colors-destructive: var(--tailwind-colors-red-600);
  --colors-destructive-foreground: var(--tailwind-colors-red-50);
  --colors-foreground: var(--tailwind-colors-zinc-900);
  --colors-input: var(--tailwind-colors-zinc-200);
  --colors-muted: var(--tailwind-colors-zinc-100);
  --colors-muted-foreground: var(--tailwind-colors-zinc-500);
  --colors-popover: var(--tailwind-colors-base-white);
  --colors-popover-foreground: var(--tailwind-colors-zinc-950);
  --colors-primary: var(--tailwind-colors-zinc-900);
  --colors-primary-foreground: var(--tailwind-colors-zinc-50);
  --colors-ring: var(--tailwind-colors-zinc-900);
  --colors-secondary: var(--tailwind-colors-zinc-100);
  --colors-secondary-foreground: var(--tailwind-colors-zinc-900);
  --colors-chart-chart-1: rgb(42, 157, 144);
  --colors-helper-background-100: rgb(255, 0, 0);
  --colors-helper-background-0: rgba(255, 0, 0, 0);
  --colors-chart-chart-2: rgb(231, 110, 80);
  --colors-chart-chart-3: rgb(39, 71, 84);
  --colors-chart-chart-4: rgb(232, 196, 104);
  --colors-chart-chart-5: rgb(244, 164, 98);
  --colors-sidebar-background: var(--tailwind-colors-zinc-50);
  --colors-sidebar-foreground: var(--tailwind-colors-zinc-700);
  --colors-sidebar-primary: var(--tailwind-colors-zinc-900);
  --colors-sidebar-primary-foreground: var(--tailwind-colors-zinc-50);
  --colors-sidebar-accent: var(--tailwind-colors-zinc-100);
  --colors-sidebar-accent-foreground: var(--tailwind-colors-zinc-900);
  --colors-sidebar-border: var(--tailwind-colors-gray-200);
  --colors-sidebar-ring: var(--tailwind-colors-zinc-400);
  --colors-error: var(--tailwind-colors-red-600);
  --colors-success: var(--tailwind-colors-green-600);
  --colors-warning: var(--tailwind-colors-yellow-400);
  --colors-new: var(--tailwind-colors-sky-500);

  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}

.dark, [data-theme='dark'] {
  --colors-accent: var(--tailwind-colors-zinc-800);
  --colors-accent-foreground: var(--tailwind-colors-zinc-50);
  --colors-background: var(--tailwind-colors-zinc-950);
  --colors-border: var(--tailwind-colors-zinc-800);
  --colors-card: var(--tailwind-colors-zinc-950);
  --colors-card-foreground: var(--tailwind-colors-zinc-50);
  --colors-destructive: var(--tailwind-colors-red-900);
  --colors-destructive-foreground: var(--tailwind-colors-red-50);
  --colors-foreground: var(--tailwind-colors-zinc-50);
  --colors-input: var(--tailwind-colors-zinc-800);
  --colors-muted: var(--tailwind-colors-zinc-800);
  --colors-muted-foreground: var(--tailwind-colors-zinc-400);
  --colors-popover: var(--tailwind-colors-zinc-950);
  --colors-popover-foreground: var(--tailwind-colors-zinc-50);
  --colors-primary: var(--tailwind-colors-zinc-50);
  --colors-primary-foreground: var(--tailwind-colors-zinc-900);
  --colors-ring: var(--tailwind-colors-zinc-300);
  --colors-secondary: var(--tailwind-colors-zinc-800);
  --colors-secondary-foreground: var(--tailwind-colors-zinc-50);
  --colors-helper-background-100: rgb(255, 0, 0);
  --colors-helper-background-0: rgba(255, 0, 0, 0);
  --colors-chart-chart-1: rgb(38, 98, 217);
  --colors-chart-chart-2: rgb(226, 54, 112);
  --colors-chart-chart-3: rgb(232, 140, 48);
  --colors-chart-chart-4: rgb(175, 87, 219);
  --colors-chart-chart-5: rgb(46, 184, 138);
  --colors-sidebar-background: var(--tailwind-colors-zinc-900);
  --colors-sidebar-foreground: var(--tailwind-colors-zinc-100);
  --colors-sidebar-primary: var(--tailwind-colors-zinc-700);
  --colors-sidebar-primary-foreground: var(--tailwind-colors-base-white);
  --colors-sidebar-accent: var(--tailwind-colors-zinc-800);
  --colors-sidebar-accent-foreground: var(--tailwind-colors-zinc-100);
  --colors-sidebar-border: var(--tailwind-colors-zinc-800);
  --colors-sidebar-ring: var(--tailwind-colors-zinc-300);
  --colors-error: var(--tailwind-colors-red-700);
  --colors-success: var(--tailwind-colors-green-700);
  --colors-warning: var(--tailwind-colors-yellow-500);
  --colors-new: var(--tailwind-colors-sky-600);

  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.18);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 2px 4px -1px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 4px 6px -1px hsl(0 0% 0% / 0.18);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18), 0px 8px 10px -1px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
}